<div class="container">
    <h3>Business</h3>
    <div class="form-group">
        <label>bussines name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.peopleLivingNumber>
    </div>

    <div class="form-group">
        <label>nip</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.underagePersonNumber>
    </div>

    <div class="form-group">
        <label>regon</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.permanentlyInhabited>
    </div>
</div>