<div class="container">
    <h3>Property Info</h3>
    <br><br>


    <label>houseOwnership</label><br><br>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="OWNERSHIP" id="OWNERSHIP" value="OWNERSHIP"
            [(ngModel)]=propertyInfo.houseOwnership checked>
        <label class="form-check-label" for="agreemnet5">
            OWNERSHIP
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="COOPERATIVE_OWNERSHIP" id="COOPERATIVE_OWNERSHIP"
            value="COOPERATIVE_OWNERSHIP" [(ngModel)]=propertyInfo.houseOwnership checked>
        <label class="form-check-label" for="agreemnet5">
            COOPERATIVE_OWNERSHIP
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="LENDING_AGREEMENT" id="LENDING_AGREEMENT"
            value="LENDING_AGREEMENT" [(ngModel)]=propertyInfo.houseOwnership checked>
        <label class="form-check-label" for="agreemnet5">
            LENDING_AGREEMENT
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="COOPERATIVE_TENANTS" id="COOPERATIVE_TENANTS"
            value="COOPERATIVE_TENANTS" [(ngModel)]=propertyInfo.houseOwnership checked>
        <label class="form-check-label" for="agreemnet5">
            COOPERATIVE_TENANTS
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="LEASE_AGREEMENT" id="LEASE_AGREEMENT" value="LEASE_AGREEMENT"
            [(ngModel)]=propertyInfo.houseOwnership checked>
        <label class="form-check-label" for="agreemnet5">
            LEASE_AGREEMENT
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="PERPETUAL_USE" id="PERPETUAL_USE" value="PERPETUAL_USE"
            [(ngModel)]=propertyInfo.houseOwnership checked>
        <label class="form-check-label" for="agreemnet5">
            PERPETUAL_USE
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="FOR_RENT" id="FOR_RENT" value="FOR_RENT"
            [(ngModel)]=propertyInfo.houseOwnership checked>
        <label class="form-check-label" for="agreemnet5">
            FOR_RENT
        </label>
    </div>
    <br>
    <br>


    <div class="form-group">
        <label>rentedPremise</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=propertyInfo.rentedPremise>
    </div>
    <br><br>


    <label>businessActivity</label>

    <br><br>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="TAK" id="TAK" value="true"
            [(ngModel)]=propertyInfo.businessActivity checked>
        <label class="form-check-label" for="agreemnet5">
            TAK
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="NIE" id="NIE" value="false"
            [(ngModel)]=propertyInfo.businessActivity checked>
        <label class="form-check-label" for="agreemnet5">
            NIE
        </label>

    </div>
    <br><br>

    <div class="form-group">
        <label>cession</label>
        <input type="text" name="cession" class="form-control" [(ngModel)]=propertyInfo.cession>
    </div>

    <div class="form-group">
        <label>under construction</label>
        <input type="text" name="underConstruction" class="form-control" [(ngModel)]=propertyInfo.underConstruction>
    </div>

    <div class="form-group">
        <label>people livingNumber</label>
        <input type="text" name="peopleLivingNumber" class="form-control" [(ngModel)]=propertyInfo.peopleLivingNumber>
    </div>

    <div class="form-group">
        <label>underage person number</label>
        <input type="text" name="underagePersonNumber" class="form-control" [(ngModel)]=propertyInfo.underagePersonNumber>
    </div>

    <div class="form-group">
        <label>permanently inhabited</label>
        <input type="text" name="permanentlyInhabited" class="form-control" [(ngModel)]=propertyInfo.permanentlyInhabited>
    </div>

    <label>walls type</label>
    <br>
    <br>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="WOODEN" id="WOODEN" value="WOODEN"
            [(ngModel)]=propertyInfo.wallsType checked>
        <label class="form-check-label" for="agreemnet5">
            WOODEN
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="BRCIK" id="BRCIK" value="BRCIK" [(ngModel)]=propertyInfo.wallsType
            checked>
        <label class="form-check-label" for="agreemnet5">
            BRCIK
        </label>
    </div>
    <br><br>

    <app-adress></app-adress>


    <label>property type</label><br><br>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="EQUIPMENT" id="EQUIPMENT" value="APARTMENT"
            [(ngModel)]=propertyInfo.propertyType checked>
        <label class="form-check-label" for="agreemnet5">
            APARTMENT
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="EQUIPMENT" id="EQUIPMENT" value="HOME"
            [(ngModel)]=propertyInfo.propertyType checked>
        <label class="form-check-label" for="agreemnet5">
            HOME
        </label>
    </div>

    <label>Floor Type</label><br>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="floorType" id="floorType" value="GROUND_FLOOR"
            [(ngModel)]=propertyInfo.floorType checked>
        <label class="form-check-label" for="agreemnet5">
            GROUND_FLOOR
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="floorType" id="floorType" value="MIDDLE_FLOOR"
            [(ngModel)]=propertyInfo.floorType checked>
        <label class="form-check-label" for="agreemnet5">
            MIDDLE_FLOOR
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="floorType" id="floorType" value="LAST_FLOOR"
            [(ngModel)]=propertyInfo.floorType checked>
        <label class="form-check-label" for="agreemnet5">
            LAST_FLOOR
        </label>
    </div>


</div>