<div class="container">

    <div class="form-group">
        <label>Ulica</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.cession>
    </div>

    <div class="form-group">
        <label>Numer domu</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.peopleLivingNumber>
    </div>

    <div class="form-group">
        <label>Numer mieszkania</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.cession>
    </div>

    <div class="form-group">
        <label>Kod pocztowy</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.peopleLivingNumber>
    </div>

    <div class="form-group">
        <label>Miejscowość</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.cession>
    </div>

</div>