<div>
    <h3>Property</h3>
    <br>

    <div class="form-group">
        <label>street</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.street>
    </div>

    <div class="form-group">
        <label>house number</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.houseNumber>
    </div>

    <div class="form-group">
        <label>flat number</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.flatNumber>
    </div>

    <div class="form-group">
        <label>postcode</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.postcode>
    </div>

    <div class="form-group">
        <label>city</label>
        <input type="text" name="name" class="form-control" [(ngModel)]=policy.city>
    </div>

</div>