<div>
    <h3>Property</h3>
    <br>

    <div class="form-group">
        <label>street</label>
        <input type="text" name="propertyType" class="form-control" [(ngModel)]=property.propertyType>
    </div>

    <div class="form-group">
        <label>street</label>
        <input type="text" name="yearOfConstruct" class="form-control" [(ngModel)]=property.yearOfConstruct>
    </div>

    <div class="form-group">
        <label>street</label>
        <input type="text" name="areaOfApartment" class="form-control" [(ngModel)]=property.areaOfApartment>
    </div>

    <div class="form-group">
        <label>street</label>
        <input type="text" name="equipmentInsuranceSum" class="form-control" [(ngModel)]=property.equipmentInsuranceSum>
    </div>

    <div class="form-group">
        <label>street</label>
        <input type="text" name="personalThingsInsuranceSum" class="form-control" [(ngModel)]=property.personalThingsInsuranceSum>
    </div>

    <div class="form-group">
        <label>street</label>
        <input type="text" name="wallsInsuranceSum" class="form-control" [(ngModel)]=property.wallsInsuranceSum>
    </div>



</div>