<div class="container">

   <form>
      <h3>Agreements</h3>
      <br>


      <label>Agreement electronic marketing</label><br>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet1" id="agreemnet1" value="true"
            [(ngModel)]=policy.agreemnet1 checked>
         <label class="form-check-label" for="agreemnet1">
            TAK
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet1" id="agreemnet1" value="false"
            [(ngModel)]=policy.agreemnet1>
         <label class="form-check-label" for="agreemnet1">
            NIE
         </label>
      </div>

      <label>Agreement home insurance</label><br>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet2" id="agreemnet2" value="true"
            [(ngModel)]=policy.agreemnet2 checked>
         <label class="form-check-label" for="agreemnet2">
            TAK
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet2" id="agreemnet2" value="false"
            [(ngModel)]=policy.agreemnet2>
         <label class="form-check-label" for="agreemnet2">
            NIE
         </label>
      </div>

      <label>Other insurance</label><br>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet3" id="agreemnet3" value="true"
            [(ngModel)]=policy.agreemnet3 checked>
         <label class="form-check-label" for="agreemnet3">
            TAK
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet3" id="agreemnet3" value="false"
            [(ngModel)]=policy.agreemnet3>
         <label class="form-check-label" for="agreemnet3">
            NIE
         </label>
      </div>

      <label>Agreement personal data</label><br>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet4" id="agreemnet4" value="true"
            [(ngModel)]=policy.agreemnet4 checked>
         <label class="form-check-label" for="agreemnet4">
            TAK
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet4" id="agreemnet4" value="false"
            [(ngModel)]=policy.agreemnet4>
         <label class="form-check-label" for="agreemnet4">
            NIE
         </label>
      </div>

      <label>Agreement phone marketing</label><br>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet5" id="agreemnet5" value="true"
            [(ngModel)]=policy.agreemnet5 checked>
         <label class="form-check-label" for="agreemnet5">
            TAK
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreemnet5" id="agreemnet5" value="false"
            [(ngModel)]=policy.agreemnet5>
         <label class="form-check-label" for="agreemnet5">
            NIE
         </label>
      </div>

      <br>
      <div class="form-group">
         <label>start date</label>
         <input type="text" name="name" class="form-control" [(ngModel)]=policy.startDate>
      </div>

      <br>
      <label>Scope</label>
      <br><br>


      <div *ngFor="let obj of policyArr">

         <input type="checkbox" value="{{obj.value}}" (change)="arrChangeScope($event)"> {{obj.key}}
      </div>
      <br><br>

      <app-property></app-property>

      <app-property-info></app-property-info>

      

      <h3>clientType</h3>
      <br>
      <br>

      <div class="form-check">
         <input class="form-check-input" type="radio" name="INDIVIDUAL" id="INDIVIDUAL" value="INDIVIDUAL"
            [(ngModel)]=policy.clientType checked>
         <label class="form-check-label" for="agreemnet5">
            INDIVIDUAL
         </label>
      </div>

      <div class="form-check">
         <input class="form-check-input" type="radio" name="SOLE_TRADER" id="SOLE_TRADER" value="SOLE_TRADER"
            [(ngModel)]=policy.clientType checked>
         <label class="form-check-label" for="agreemnet5">
            SOLE_TRADER
         </label>
      </div>

      <app-security></app-security>

      <app-isurer></app-isurer>

      <label>Agreement Processing Personal Data</label><br>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreementProcessingPersonalData" id="agreementProcessingPersonalData" value="true"
            [(ngModel)]=policy.agreementProcessingPersonalData checked>
         <label class="form-check-label" for="agreemnet5">
            TAK
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="agreementProcessingPersonalData" id="agreementProcessingPersonalData" value="false"
            [(ngModel)]=policy.agreementProcessingPersonalData>
         <label class="form-check-label" for="agreemnet5">
            NIE
         </label>
      </div>


   </form>


   <button type="button" class="btn btn-primary" (click)="create()">Wyślij</button>


</div>